@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans+Narrow:wght@700&family=Righteous&family=Sarala&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Righteous;
    font-size: 500;
    background: #282a36;
    position: absolute;
    top: 50%;
    left: 50%;
}

.start__button{
    position: relative;
    border: 2px solid hsl(158, 89%, 30%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.start__button::before{
    content: '';
    border: 2px solid hsl(158, 98%, 43%);
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px hsl(158, 98%, 43%);
    transition: .3s;
    animation: button 3s infinite;
}
@keyframes button{
    0%{box-shadow: 0 0 8px hsl(158, 98%, 43%);}
    50%{box-shadow: 0 0 50px hsl(158, 98%, 43%);}
}


.start__button a{
    text-decoration: none;
    color: white;
}